src/day-01-exercises/output

src/day-02-exercises/output

src/day-03-exercises/output

src/day-04-exercises/output

src/day-05-exercises/output

src/day-06-exercises/output

src/day-07-exercises/output

src/day-08-exercises/output